*{
  padding:0px;
  font-family: Avenir, sans-serif;
}

header {
  width: 100%;
  height: 200px;
  background:url("fond2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

img{
  width: 100%;
  height: 200px;
  object-fit: none;
  object-position : 90px;
}

nav{
  width: 100%;
  position: sticky;
}

nav ul{
  list-style-type: none;
}

nav ul li{
  float: left;
  width: 25%;
  text-align: center;
  position: relative;
}

nav ul::after{
  content: "";
  display: table;
  clear: both;
}

nav a{
  display: block;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid violet;
  padding: 10px 0px;
}

nav a:hover{
  color: orange;
  border-bottom: 2px solid blue;
}

.sous{
  display: none;
  box-shadow: 5px 1px 2px #CCC;
  background-color: greenyellow;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

nav > ul li:hover .sous{
  display: block;
}
.sous li{
  float: none;
  width: 100%;
  text-align: center;
}
.sous a{
  padding: 10px;
  border-bottom: none;
}
.sous a:hover{
  border-bottom: none;
  background-color: white;
}

.conteneur{
  margin: 50px 20px;
  height: 1500px;
}