/* ***** Le header ***** */
header {
  width: 100%;
  height: 200px;
  background:url("../images/backgrounds/header.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/*-- Options du logo --*/
#logo{
  width: 300px;
  height: 200px;
  object-fit: none;
  object-position : 90px;
}

/*-- Options de l'image et du pseudo du membre --*/
#profil{
  float: right;
  margin-top: 30px;
  margin-right: 20px;
  width: 100px;
  height: 100px;
}

header p{
  float: right;
  width: auto;
  height: auto;
  margin: 130px -78px 0px 0px;
}

/*-- Positionnement du bouton déconnexion --*/
#deco{
  margin: 150px -106px 0px 0px;
}

/*-- Positionnement du bouton connexion --*/
#co{
  margin: 138px 20px 0px 0px;
}

/*-- Positionnement du bouton inscription --*/
#inscri{
  margin: 170px -100px 0px 0px;
}

/*-- Options générales des boutons --*/
.bouton{
  padding: 2px 3px;
  float: right;
  text-decoration: none;

  border: solid 1px white;
  border-radius: 4px;

  background-color: #003300;
  color: white;
}

.bouton:hover{
  border-color: #003300;
  color: #003300;
  background-color: white;
}

.bouton:active {
  background-color: inherit;
}

/*-- Options de menu de navigation --*/
nav{
  width: 100%;
  position: sticky;
}

nav ul{
  list-style-type: none;
}

nav ul li{
  float: left;
  width: 25%;
  text-align: center;
  position: relative;
}

nav ul::after{
  content: "";
  display: table;
  clear: both;
}

nav a{
  display: block;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid black;
  padding: 10px 0px;
}

nav a:hover{
  color: white;
  border-bottom: 2px solid white;
}

/* ***** Le corp de la page ***** */
body {
  background-image: url('../images/backgrounds/bois.jpg');
}

#photo{
  width: 200px;
  height: 200px;
}

/* ***** les formulaires ***** */
fieldset {
  padding: 10px;
  margin: 3% 0px 5% 30%;
  width: 35%;
  padding: 10px 5%;
  background-image: url('../images/backgrounds/form.jpg');
  color: white;
}

fieldset fieldset {
  margin:auto;
  width: auto;
}

legend {
  /*--texte bleu clair avec des contours blanc--*/
  color: lightblue;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  font-variant: small-caps;
  font-size: 135%;
}

input {
  margin: 5px;
  background-color: lightgrey;
  border: solid 1px white;
  border-radius: 2px;
  color: white;
}
input:focus {
  border-color: green;
  color: green;
  padding-top: 4px;
  padding-bottom: 4px;
}
input:hover {
  background-color:inherit;
}

label {
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-color: lightgrey;
}

/* Pour que les radio/checkbox ressemblent à des boutons cliquables */
label.radio {
  /*--pour pas qu'il se coupent en deux avec un retour à la ligne--*/
  display:inline-block;

  text-decoration: none;

  padding-right: 10px;
  border: solid 2px white;
  border-radius: 10px;
  background-color: lightgrey;
}
label.radio:hover {
  border-color: red;
  color: red;
}
label.radio:active {
  background-color: inherit;
}

textarea {
  width: 100%;
  height: 50px;

  background-color: lightgrey;
  color: white;
}
textarea:focus {
  width: 100%;
  height: 400px;
  padding: 5px;

  background-color: inherit;
}

button {
  border: solid 2px  navy;
  border-radius: 4px;
  color: navy;
  background-color: lightgrey;
  margin-top: 5px;
}
button:hover{
  background-color: lime;
}
button:active {
  background-color: inherit;
  border-color: lightgrey;
  color: lightgrey;
}


/* ***** le footer ***** */
footer {
  /*--delimite le footer du reste de la page--*/
  padding: 30px 0;
  margin-top: 26px;

  /*--propriétés pour l'image de fond--*/
  background:url("../images/backgrounds/footer.png");
  background-size: cover;
  background-repeat: no-repeat;

  /*--propriétés pour le texte--*/
  text-align: center;
  color: #003300;
  font-size: 110%;
}

/*--pour pas que les boutons se touchent--*/
footer li{
  margin: 10px;
}

footer a {
  padding: 2px 3px;
  text-decoration: none;

  border: solid 1px white;
  border-radius: 4px;

  background-color: #003300;
  color: white;
}
/*--effets lorsque l'on passe/clicque sur les liens--*/
footer a:hover {
  border-color: #003300;
  color: #003300;
  background-color: white;
}
footer a:active {
  background-color: inherit;
}

/*--met en relief les éléments du footer--*/
footer p, footer h2, footer ul {
  box-shadow: 0 0 10px black;
  padding: 5px 10px;
  transition: box-shadow 0.5s ease;
}
footer p:hover, footer h2:hover, footer ul:hover {
  box-shadow:  0 0 10px white;
  color: white;
}

/*--l'input qui donne la taille du message--*/
#taille {
  width:50px;
  height: 10px;
  margin-left: none;
}
#taille:hover {
  background-color: lightgrey;
}
