/* ***** style pour l'affichage du tableau des membres ***** */
table, tr, th, td {
  border: solid 1px black;
  border-collapse: collapse;
  padding: 5px;
}

th, td {
  width: 25%;
  text-align:center;
}
/*--pour différentier les en-têtes des lignes de données--*/
th {
  background-color: lightgrey;
}

td {
  /*--pour le style des bordures--*/
  box-shadow: 1px 0 1px lightgrey, -2px 0 1px lightgrey, 0 1px 1px lightgrey, 0 -2px 1px lightgrey;;
}

td img {
  width:50px;
  height:50px;
}
/*--on zoom sur l'image au survol de la souris--*/
td img:hover {
  width: 200px;
  height: 200px;
}

/*--style des liens pour modifier un membre--*/
td a {
  padding: 10px 15px;
  background-color: red;

  border: solid 2px red;
  border-radius: 100%;

  border-color: white;
  color: white;
  text-decoration: none;
}
/*--effets lorsque l'on passe/clicque sur les liens--*/
td a:hover {
  border-color: red;
  background-color: white;
  color: red;
}
td a:active {
  background-color: inherit;
}
