/* ********** La section contenant la recette ********** */
section {
  background-image: url("../images/backgrounds/fond_recette.png");
  padding: 10px;
}

/* ***** Le titre de la recette ***** */
section h1 {
  /*--propriété du texte--*/
  font-family: cursive, serif;
  font-size: 200%;
  text-align: center;
  text-transform: full-width;
  color : #663d00;

  /*--contour des lettres--*/
  text-shadow: -1px 0 #ffad33, 0 1px #ffad33, 1px 0 #ffad33, 0 -1px #ffad33;

  /*--separe le titres de la recette--*/
  padding: 5px 50px 15px;
  border-bottom: double 3px #ffad33;
}

/* ********** l'illustration de la recette ********** */
section img {
  /*--taille de l'image--*/
  width: 40%;
  height: 40%;
  /*--positionnement de l'image par rapport à la liste de recette--*/
  float: left;
  margin: 10px 40px 10px 25px;
}

/* ********** La liste des ingrédients ********** */
section ul {
  /*--pour l'aligner avec l'image--*/
  padding: 10px 20px;
  margin: auto;
  float:left;

  /*--on enlève les puces--*/
  list-style-type: none;
}
section li {
  /*--les propriétes du texte texte--*/
  text-align: left;
  color: yellow;
  opacity:0.8;
  font-size:110%;

  /*--espacement des éléments--*/
  padding: 10px;
}

/* ********** titre des parties ********** */
section h2 {
  /*--le texte--*/
  text-align: center;
  text-decoration: underline;
  font-size: 160%;
  color: red;
  opacity:0.5;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

  /*--le positionnement par rapport aux autres éléments--*/
  clear: both;
  padding-top: 50px;
  padding-bottom: 25px;
  margin: auto;
}

/* ********** Les paragraphes ********** */
 h2 ~ p {
  /*--propriété du texte--*/
  text-align: justify;
  text-indent: 10%;
  color: #e6e6e6;
  /*--espacer du bord--*/
  padding: 0 5%;
}

p {
  margin-bottom: 20px;
  padding: 10px;
}

/* ********** les conseils ********** */
 .conseils {
  float: left;
  width: 15%;
  height: 5%;
  max-height: 230px;
  padding: 10px 2%;

  border: solid 1px #000080;
  border-radius: 2%;
  color: #000080;

  overflow: hidden;
}
.conseils:hover {
  width:auto;
  height:auto;
}
.conseils div::before {
  content: ">";
}
