/* ***** le conteneur des cartes des recettes ***** */
.resultat {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /*--retour à la ligne si plus de place--*/
  justify-content: space-around;
  align-items: baseline;
  align-content: space-between;
}

/* ***** La carte de recette ***** */
.recette {
  width: 250px;
  height: 170px;
  padding:10px;

  border: solid 4px lightgrey;
  border-radius: 10px;

  background-image: url('../images/backgrounds/carte.jpg');
}

div .img_recette {
  width: 140px;
  height: 140px;
  float: left;
  padding-right: 5px;
}

.infos {
  float: left;
}

/*--la 'légende' des icones--*/
span {
  color:lightgrey;
  text-decoration: underline;

}

/*--nom de la recette sous forme de bouton--*/
.infos a {
  font-size: 150%;
  padding: 1px 5px;

  background-color: lightgrey;
  border: solid 2px blue;
  border-radius: 60px;

  text-decoration: none;
}
.infos a:hover {
  background-color: green;
  color:lightgrey;
  border-color: lightgrey;
}
.infos a:active {
  background-color: inherit;
  border-color: red;
}

/*--affichage des pouces pour voter au survol de la souris--*/
.vote img {
  display: none;
  padding: 2px;
  margin-left:10px;
  transition: all 0.5s ease;
}
.recette:hover .vote img {
  display: inline-block;
}
/*--effet au click de la souris--*/
.plus:active{
  border: solid 1px green;
  border-radius: 4px;
  background-color: green;
}
.moins:active{
  border: solid 1px red;
  border-radius: 4px;
    background-color: red;
}

/*--bouton pour confirmer les votes--*/
button[type="submit"] {
  margin-left: 45%;
  margin-top: 20px;
}
